<form class="formulaire">
  <mat-form-field appearance="fill">
    <mat-label>Rechercher un pokemon</mat-label>
    <input #searchBox matInput (input)="search(searchBox.value)" placeholder="">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</form>
<mat-nav-list infiniteScroll [scrollWindow]="false" (scrolled)="onScroll()" class="pokemon_list">
  <a mat-list-item (click)="selection(pokemon)" *ngFor="let pokemon of pokemons.data">
    <img matListAvatar src="assets/img/sprites/{{pokemon.id}}.png">
    <span matLine>{{pokemon.id}}.{{pokemon.name}} </span>
  </a>
</mat-nav-list>
